* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* main {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: ;
} */

#main-nav {
  background-color: #d6336c;
  display: flex;
  align-items: center;
  /* justify-items: center; */
  /* gap: 32px; */
}

#main-nav ul {
  list-style: none;
}

#main-nav ul li {
  display: inline-block;
}
#main-nav a {
  display: inline-block;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1.2px;
  line-height: 1.5;

  /* align-items: center; */
}
#main-nav a:link,
#main-nav a:visited {
  text-decoration: none;
  color: #fff;
  /* display: inline-block; */
  /* align-items: center; */
}

#main-nav a:hover,
#main-nav a:active,
.active {
  background-color: #ffc9c9;
  color: #212529 !important;
}

footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 60px;
  background: #dee2e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer span {
  color: #212529;
  font-size: 14px;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: #fff;
  font-weight: bold;
}

.navbar-toggler {
  margin: 8px 16px;
  /* display: inline; */
}

.navbar-toggler:focus {
  box-shadow: none;
}
